.header{
width:100%;
position:relative;
z-index:1000;
}

.top-bar{
background:var(--primary);
color:var(--white);
font-size:14px;
}

.top-bar-container{
display:flex;
justify-content:space-between;
align-items:center;
height:35px;
}

.top-left{
display:flex;
align-items:center;
gap:30px;
}

.top-item{
display:flex;
align-items:center;
gap:8px;
}

.top-item svg{
color:var(--gold);
font-size:13px;
}

.top-right{
display:flex;
align-items:center;
gap:18px;
}

.top-right a{
color:var(--white);
transition:var(--transition);
}

.top-right a:hover{
color:var(--gold);
}

.navbar{
background:var(--white);
transition:var(--transition);
}

.navbar.sticky{
position:fixed;
top:0;
left:0;
width:100%;
box-shadow:0 8px 30px rgba(0,0,0,.08);
animation:slideDown .35s ease;
}

@keyframes slideDown{
from{
transform:translateY(-100%);
}
to{
transform:translateY(0);
}
}

.navbar-container{
height:88px;
display:flex;
justify-content:space-between;
align-items:center;
}



.logo{
display:flex;
align-items:center;
cursor:pointer;

}

.logo img{
width:82px;
height:82px;
object-fit:contain;
margin-left: -10px;
}

.logo-content{
display:flex;
flex-direction:column;
justify-content:center;
}

.logo-content h2{
font-size:24px;
font-weight:700;
color:var(--primary);
line-height:1.1;
letter-spacing:.5px;
}

.logo-content p{
font-size:13px;
color:var(--text-light);
margin-top:4px;
letter-spacing:1px;
text-transform:uppercase;
}
.nav-menu{
display:flex;
align-items:center;
gap:32px;
}

.nav-menu li{
list-style:none;
}

.nav-menu a{
cursor:pointer;
font-size:15px;
font-weight:500;
color:var(--text);
transition:var(--transition);
}

.nav-menu a:hover{
color:var(--gold);
}

.nav-menu .active{
color:var(--gold);
}

.quote-btn{
background:var(--primary);
color:var(--white)!important;
padding:13px 28px;
border-radius:6px;
font-weight:600;
transition:var(--transition);
}

.quote-btn:hover{
background:var(--gold);
}

.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
color:var(--primary);
}

@media(max-width:992px){

.top-bar{
display:none;
}

.menu-toggle{
display:block;
}

.nav-menu{
position:absolute;
top:100%;
left:0;
width:100%;
background:var(--white);
flex-direction:column;
align-items:flex-start;
padding:30px;
gap:22px;
box-shadow:0 12px 30px rgba(0,0,0,.08);
transform:translateY(-30px);
opacity:0;
visibility:hidden;
transition:var(--transition);
}

.nav-menu.active{
transform:translateY(0);
opacity:1;
visibility:visible;
}

.navbar-container{
height:80px;
}

.logo img{
height:60px;
}

.quote-btn{
margin-top:10px;
}

}

@media(max-width:576px){

.logo img{
height:52px;
}

.navbar-container{
height:72px;
}

}

@media(max-width:768px){

.logo img{
width:62px;
height:62px;
}

.logo-content h2{
font-size:18px;
}

.logo-content p{
font-size:8px;
}

}